#trailPointer{
    height: 15px;
    width: 15px; 
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.24); 
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.616);
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    visibility: hidden;
}
